body {
    background-color: #6E94FF;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    /* border: 5px solid pink; */
}

.empty-div{
    width: 90px;
    /* border: 5px solid black; */
}

.btn-warning{
    width: 90px;
    height: 50px;
    background-color: #FFCF54;

}

h1{
    text-align: center;
    padding-top: 25px;
    /* border: 5px solid red; */
}

.tries{
    text-align: center;
}

.tries p{
    padding-top: 30px;
}

#cake{
    position: relative;
    width: 100px;
    height: 100px;
}

#word{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    padding-top: 30px;
}

#letters{
    display: flex;
    justify-content: center;
}
.letter{
    display: inline-block;
    height: 50px;
    width: 35px;
    margin: 10px;
    border-bottom: 2px solid black;
}

#alphabetID{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    background: none;
}

.alph-buttons{
    height: 50px;
    width: 35px;
    background-color: yellow;
}

.win-screen{
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: #75FF70;
}

.win-screen p{
    padding-top: 30px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.lose-screen{
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: red;
}

.lose-screen p{
    padding-top: 30px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#footer {
    height: 100px;
    display: inline-block;
    width: 100vw;
    text-align: center;
}

.hidden{
    display: none;
}