body {
    background-color: #AA96FF;
    font-family: 'Ruluko', sans-serif;
    margin: auto;
    
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.btn-primary{
    /* position: absolute; */
    top: 10px;
    left: 0;
    /* margin-left: 200px; */
    width: 70px;
}

.right-buttons{
    display: inline-block;
    width: 70px;
}
.btn-warning{
    /* position: absolute; */
    top: 10px;
    right: 0;
    /* margin-right: 200px; */
    width: 70px;
}

.btn-info{
    /* position: absolute; */
    top: 70px;
    right: 0;
    /* margin-right: 200px; */
    width: 70px;
}

h1{
    text-align: center;
}

.tries{
    text-align: center;
}

#word{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    padding-top: 30px;
}

#letters{
    display: flex;
    justify-content: center;
}
.letter{
    display: inline-block;
    height: 50px;
    width: 35px;
    margin: 10px;
    border-bottom: 2px solid black;
}

#alphabetID{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    background: none;
}

.alph-buttons{
    height: 50px;
    width: 35px;
    background-color: yellow;
}

#footer {
    height: 100px;
    display: inline-block;
    width: 100vw;
    text-align: center;
}